.site-footer {
    padding: 15px 0;
    background-color: var(--color-white);
    border-top-left-radius: 65px;
    border-top-right-radius: 65px;
    text-align: center;
    box-shadow: 0 -4px 4px 0 rgba(0, 0, 0, 0.25);

    @include breakpoint-up(md){
        padding-bottom: 5px;
    }

    ul {
        @include flex();
        justify-content: center;
        column-gap: 15px;
        list-style: none;

        li {
            margin-left: 0;
        }
    }

    &__socials {
        ul {
            column-gap: 0;
        }

        a {
            line-height: 0;
        }
    }

    &__meta {
        @include breakpoint-up(md){
            order: 3;
        }
    }

    &__copyright {
        @include breakpoint-up(md){
            order: 2;
            line-height: 38px;
            text-align: left;
        }

        @include breakpoint-up(lg){
            line-height: inherit;
        }

        span {
            display: block;
            margin-top: 5px;

            @include breakpoint-up(md){
                display: inline;
            }
        }
    }
}
