.site-footer {
    padding: 15px 0;
    background-color: var(--color-white);
    border-top-left-radius: 65px;
    border-top-right-radius: 65px;
    text-align: center;

    ul {
        @include flex();
        justify-content: center;
        column-gap: 30px;
        list-style: none;

        li {
            margin-left: 0;
        }
    }

    &__socials {
        margin-bottom: 5px;

        @include breakpoint-up(md){
            margin-bottom: 0;
        }

        a {
            line-height: 0;
        }
    }

    &__meta {

    }

    &__copyright {

        span {
            display: block;

            @include breakpoint-up(md){
                display: inline;
            }
        }
    }
}
