---
import AstroImage from '@components/partials/AstroImage.astro';
import { storyblokEditable } from '@storyblok/astro';

import { Picture  } from 'astro:assets';

const { blok } = Astro.props;
---

<div class:list={[ 'image-text', {'image--right': blok.image_right}]} {...storyblokEditable(blok)}>
    <div class="grid-container">

        <div class="image-text__image col-12 col-md-10 offset-left-md-1 col-lg-5 offset-left-lg-0">
            <Picture
                src={blok.image.filename}
                widths={[240, 540, 720, blok.image.filename]}
                sizes={`(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 1600px) 720px, ${blok.image.filename}px`}
                formats={['avif', 'webp']}
                alt={blok.image.alt}
                loading="lazy"
            />
        </div>

        <div class="image-text__content col-12 col-md-10 offset-left-md-1">

        </div>
    </div>
</div>

<style lang="scss">
    .image-text {
        margin-top: 100vh;

        &.image--right {
            @media (min-width: 992px){
                .grid-container {
                    flex-direction: row-reverse;
                }   
            }
        }
    }
</style>