$colors: (

    "white":                        #FFF,
    "black":                        #000,

    "body-text":                    #000,
    "body-background":              #000,

    "link":                         #000,
    "link-hover":                   #F00

);


$font: (

    family: (

        primary:                    arial,
        secondary:                  arial

    ),

    weight: (

        bold:                       700

    )
);


$grid-columns:                      12;
$grid-gutter-width:                 20px;

$grid-breakpoints: (

    xs:                             0,
    md:                             768px,
    lg:                             992px,

);

$container-max-widths: (

    sm:                             540px,
    md:                             720px,
    lg:                             960px,
    xl:                             1140px,
    xxl:                            1320px

);

