---
---

<footer class="site-footer">
    <div class="grid-container">
        <div class="site-footer__socials col-12">
            <ul>
                <li>
                    <a href="https://www.instagram.com" aria-label="to instagram account">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="48"
                            height="48"
                            viewBox="0 0 48 48"
                        >
                            <path
                                d="M35.38 10.46a2.19 2.19 0 1 0 2.16 2.22v-.06a2.18 2.18 0 0 0-2.16-2.16Z"
                                fill="none"
                                stroke="#000"
                                stroke-linecap="round"
                                stroke-linejoin="round"></path>
                            <path
                                d="M40.55 5.5H7.45a2 2 0 0 0-1.95 2v33.1a2 2 0 0 0 2 2h33.1a2 2 0 0 0 2-2V7.45a2 2 0 0 0-2.05-1.95Z"
                                fill="none"
                                stroke="#000"
                                stroke-linecap="round"
                                stroke-linejoin="round"></path>
                            <path
                                d="M24 15.72A8.28 8.28 0 1 0 32.28 24h0A8.28 8.28 0 0 0 24 15.72Z"
                                fill="none"
                                stroke="#000"
                                stroke-linecap="round"
                                stroke-linejoin="round"></path>
                        </svg>
                    </a>
                </li>

                <li>
                    <a href="https://www.linkedin.com" aria-label="to linkedin account">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="48"
                            height="48"
                            viewBox="0 0 48 48"
                        >
                            <defs>
                                <style>
                                        
                                </style>
                            </defs>
                            <circle
                                cx="15.64"
                                cy="13.46"
                                r=".75"
                                style="fill:#000">
                            </circle>
                            <path d="M15.64 16.93v14.98M33.11 31.91V22.3a5.83 5.83 0 0 0-5.82-5.82 5.83 5.83 0 0 0-5.83 5.82v9.61M21.46 22.3v-5.37" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M40.5 5.5h-33a2 2 0 0 0-2 2v33a2 2 0 0 0 2 2h33a2 2 0 0 0 2-2v-33a2 2 0 0 0-2-2z" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </a>
                </li>
            </ul>
        </div>

        <div class="site-footer__meta col-10 offset-left-1 col-md-4 offset-left-md-0">
            <ul>
                <li>
                    <a href="/privacy"> Datenschutz</a>
                </li>

                <li>
                    <a href="/imprint"> Impressum</a>
                </li>
            </ul>
        </div>


        <div class="site-footer__copyright col-md-8">
            Copyright &copy 2024 Jake Kozak

            <span> Alle Rechte vorbehalten.</span>
        </div>
    </div>
</footer>
