---
import '@styles/styles.scss';

import SiteHeaderMobile from '@components/layout/SiteHeaderMobile.astro';
import SiteFooter from '@components/layout/SiteFooter.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />

        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

		<title>Astro</title>
	</head>

	<body>

        <SiteHeaderMobile />

		<main>
			<h1>Jake Kozak</h1>
		</main>

		<SiteFooter />
	</body>
</html>
